[build]
  base = "frontend"
  command = "npm ci && npm run build"
  publish = "build"

[build.environment]
  NODE_VERSION = "18"
  NPM_CONFIG_PRODUCTION = "false"
  VITE_API_BASE_URL = "https://thesis-management-system-9bb4.onrender.com/api"

[functions]
  directory = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
