[build]
  base = "frontend"
  command = "npm ci && npm run build"
  publish = "build"

[build.environment]
  NODE_VERSION = "18"
  NPM_CONFIG_PRODUCTION = "false"

[functions]
  directory = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
